<section>
    <nav-directive></nav-directive>
</section>
<section class="landing-section">
  <div class="landing-container">
    <div class="landing">
      <div class="landing-info-container">
        <h1 class="landing-title">Information is empowering</h1>
        <h3 class="landing-info">Introducing The Business Cloud-the world's first self-service platform for running your entire organization.</h3>
        <a href="https://www.domo.com/businesscloud"><button class="domo-oj-btn" type="button" name="button">LEARN MORE</button></a>
      </div>
    </div>
  </div>
</section>
<!-- SLIDER AT MAX-WIDTH 768PX -->
<section class="carousel-container">
  <div class="carousel">
    <div class="domo-promo-card" id="appstore">
      <div class="appstore-info">
        <h3>APPSTORE</h3>
        <p>
          Tell data-driven stories in just a few clicks.
        </p>
        <p class="appstore-info-border">
          <a href="https://www.domo.com/appstore">VISIT THE APPSTORE</a>
        </p>
      </div>
      <div class="appstore-img">
        <img src="/assets/images/appstore-promo-media.png" alt="" />
      </div>
    </div>
    <div class="domo-promo-card" id="mastercard">
      <div class="tint">
        <div class="mastercard-img">
          <img src="./assets/images/mastercard-logo-white.png" alt="" />
        </div>
      </div>
      <div class="mastercard-info">
        <p>
          MasterCard was searching for a single source of truth. Domo delivered.
        </p>
        <p class="mastercard-info-border">
          <a href="https://www.domo.com/customers/mastercard">SEE THE STORY</a>
        </p>
      </div>
    </div>
    <div class="domo-promo-card" id="mobile">
      <div class="mobile-info">
        <h3>DOMO MOBILE</h3>
        <p>
          Take your business anywhere.
        </p>
        <div class="mobile-info-border">
          <a href="http://127.0.0.1:8080/#/home">LEARN MORE</a>
        </div>
      </div>
      <div class="mobile-img">
        <img src="/assets/images/access.png" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- SLIDER AT MAX-WIDTH 768PX -->
<section class="domo-promo-section">
  <div class="domo-promo-container">
    <div class="domo-promo-card" id="appstore">
      <div class="appstore-info">
        <h3>APPSTORE</h3>
        <p>
          Tell data-driven stories in just a few clicks.
        </p>
        <p class="appstore-info-border">
          <a href="https://www.domo.com/appstore">VISIT THE APPSTORE</a>
        </p>
      </div>
      <div class="appstore-img">
        <img src="/assets/images/appstore-promo-media.png" alt="" />
      </div>
    </div>
    <div class="domo-promo-card" id="mastercard">
      <div class="tint">
        <div class="mastercard-img">
          <img src="./assets/images/mastercard-logo-white.png" alt="" />
        </div>
      </div>
      <div class="mastercard-info">
        <p>
          MasterCard was searching for a single source of truth. Domo delivered.
        </p>
        <p class="mastercard-info-border">
          <a href="https://www.domo.com/customers/mastercard">SEE THE STORY</a>
        </p>
      </div>
    </div>
    <div class="domo-promo-card" id="mobile">
      <div class="mobile-info">
        <h3>DOMO MOBILE</h3>
        <p>
          Take your business anywhere.
        </p>
        <p class="mobile-info-border">
          <a href="http://127.0.0.1:8080/#/home">LEARN MORE</a>
        </p>
      </div>
      <div class="mobile-img">
        <img src="/assets/images/access.png" alt="" />
      </div>
    </div>
  </div>
</section>
<section class="domo-example-section">
  <div class="domo-example-container">
    <div class="domo-example-info">
      <h1>Like an operating system for your business.</h1>
      <p>
        Domo brings your business and all its data together in one intuitive platform. With Domo, it's easy to see the information you care about in one place and use it to make faster, better‑informed decisions.
      </p>
      <p class="mobile-info-border">
        <a href="https://www.domo.com/businesscloud">LEARN MORE</a>
      </p>
    </div>
    <div class="domo-example-img">
      <img src="./assets/images/16-3-laptop-animation.gif" alt="" />
    </div>
  </div>
</section>
<section class="domo-solution-section">
  <div class="domo-solution-container">
    <div class="domo-solution-info">
      <h1>A solution for every need.</h1>
      <p>
        Whether you’re a marketer trying to understand channel ROI, or a manufacturer looking to optimize production capacity, Domo has the expertise to get you on your way.
      </p>
    </div>
    <div class="solution-card-container">
      <div class="solution-card" id="card-1">
        <div class="ceo-image-container">
          <img src="/assets/images/ceo.png" alt="" />
        </div>
        <div class="ceo-container">
          <h3 id="ceo">CEO</h3>
        </div>
        <div class="ceo-info-container">
          <h3 class="ceo-info">Make the right decisions when you have the right information.</h3>
          <a href="https://www.domo.com/roles/ceo"><h3 id="ceo-link">LEARN MORE</h3></a>
        </div>
      </div>
      <div class="solution-card" id="card-2">
        <div class="ceo-image-container">
          <img src="/assets/images/finance.png" alt="" />
        </div>
        <div class="ceo-container">
          <h3 id="ceo">FINANCE</h3>
        </div>
        <div class="ceo-info-container">
          <h3 class="ceo-info">Keep your finger on your organization's financial pulse.</h3>
          <a href="https://www.domo.com/roles/finance"><h3 id="ceo-link">LEARN MORE</h3></a>
        </div>
      </div>
      <div class="solution-card" id="card-3">
        <div class="ceo-image-container">
          <img src="/assets/images/bi.png" alt="" />
        </div>
        <div class="ceo-container">
          <h3 id="ceo">BI</h3>
        </div>
        <div class="ceo-info-container">
          <h3 class="ceo-info">Become the information hero you were hired to be.</h3>
          <a href="https://www.domo.com/roles/bi"><h3 id="ceo-link">LEARN MORE</h3></a>
        </div>
      </div>
      <div class="solution-card" id="card-4">
        <div class="ceo-image-container">
          <img src="/assets/images/operations.png" alt="" />
        </div>
        <div class="ceo-container">
          <h3 id="ceo">OPERATIONS</h3>
        </div>
        <div class="ceo-info-container">
          <h3 class="ceo-info">Arm yourself with insights that help you optimize what matters most.</h3>
          <a href="https://www.domo.com/roles/operations"><h3 id="ceo-link">LEARN MORE</h3></a>
        </div>
      </div>
      <div class="solution-card" id="card-5">
        <div class="ceo-image-container">
          <img src="/assets/images/it.png" alt="" />
        </div>
        <div class="ceo-container">
          <h3 id="ceo">IT</h3>
        </div>
        <div class="ceo-info-container">
          <h3 class="ceo-info">Give people a user-friendly way to answer their own business questions.</h3>
          <a href="https://www.domo.com/roles/it"><h3 id="ceo-link">LEARN MORE</h3></a>
        </div>
      </div>
      <div class="solution-card" id="card-6">
        <div class="ceo-image-container">
          <img src="/assets/images/sales.png" alt="" />
        </div>
        <div class="ceo-container">
          <h3 id="ceo">SALES</h3>
        </div>
        <div class="ceo-info-container">
          <h3 class="ceo-info">Learn how Domo helps you crush your quota.</h3>
          <a href="https://www.domo.com/roles/sales"><h3 id="ceo-link">LEARN MORE</h3></a>
        </div>
      </div>
      <div class="solution-card" id="card-7">
        <div class="ceo-image-container">
          <img src="/assets/images/marketing.png" alt="" />
        </div>
        <div class="ceo-container">
          <h3 id="ceo">MARKETING</h3>
        </div>
        <div class="ceo-info-container">
          <h3 class="ceo-info">Get a holistic view of everything from acquisition to win, and beyond.</h3>
          <a href="https://www.domo.com/roles/marketing"><h3 id="ceo-link">LEARN MORE</h3></a>
        </div>
      </div>
      <div class="solution-card" id="card-8">
        <div class="ceo-image-container">
          <img src="/assets/images/services.png" alt="" />
        </div>
        <div class="ceo-container">
          <h3 id="ceo">SERVICES</h3>
        </div>
        <div class="ceo-info-container">
          <h3 class="ceo-info">Customers depend on you. Get the insights to serve them well.</h3>
          <a href="https://www.domo.com/roles/services"><h3 id="ceo-link">LEARN MORE</h3></a>
        </div>
      </div>
    </div>
    <div class="view-solutions-container">
      <a href="https://www.domo.com/solution/overview">VIEW ALL SOLUTIONS</a>
    </div>
  </div>
</section>
<section class="domo-video-section">
  <div class="domo-video-container">
    <div class="tint">
      <div class="video-mastercard-container">
        <img src="/assets/images/mastercard-logo-white.png" alt="" />
      </div>
      <div class="domo-video-info-container">
        <h1>"Domo allows us to make decisions in real time, so that we can make sure every dollar we spend on marketing is most effective."</h1>
      </div>
      <div class=domo-video-button-container>
        <i class="fa fa-play-circle fa-4x" aria-hidden="true" data-toggle="modal" data-target="#domo-video-modal"></i>
      </div>
    </div>
  </div>
  <div class="modal fade domo-video-modal" id="domo-video-modal" role="dialog">
     <div class="modal-dialog modal-bg">
       <div class="modal-content">
         <div class="modal-body">
           <iframe src="https://player.vimeo.com/video/159280401?color=99caeb&title=0&byline=0&portrait=0"  width="1280" height="340" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         </div>
       </div>
     </div>
   </div>
</section>
<section class="domo-partners-section">
  <div class="domo-partners-container">
    <div class="domo-partners">
      <div class="domo-tribune-container">
        <div class="domo-tribune-avatar">
          <img src="/assets/images/thomas_schager_avatar_tribune_media.jpg" alt="" />
        </div>
        <div class="domo-tribune-info">
          <h1>THOMAS SCHAGER</h1>
          <h3>General Manager</h3>
        </div>
        <div class="domo-tribune-logo">
          <img src="/assets/images/tribune_publishing_logo.png" alt="" />
        </div>
      </div>
      <div class="domo-tribune-container">
        <div class="domo-tribune-avatar">
          <img src="/assets/images/curt_fournier_avatar_mastercard.jpg" alt="" />
        </div>
        <div class="domo-tribune-info">
          <h1>CURT FOURNIER</h1>
          <h3>VP, Digital Marketing Analytics</h3>
        </div>
        <div class="domo-tribune-logo">
          <img src="/assets/images/mastercard_logo.png" alt="" />
        </div>
      </div>
      <div class="domo-tribune-container">
        <div class="domo-tribune-avatar">
          <img src="/assets/images/dina_bunn_avatar_dhl.jpg" alt="" />
        </div>
        <div class="domo-tribune-info">
          <h1>DINA BUNN</h1>
          <h3>Global Head Of Central Operations & IT</h3>
        </div>
        <div class="domo-tribune-logo">
          <img src="/assets/images/dhl_logo.png" alt="" />
        </div>
      </div>
    </div>
    <div class="domo-partners-btn-container">
      <a href="https://www.domo.com/customers">VIEW MORE CUSTOMERS</a>
    </div>
  </div>
</section>
<section class="domo-input-section">
  <div class="domo-input-container">
    <div class="domo-input-img-container">
      <img src="/assets/images/formlaptopb.png" alt="" />
    </div>
    <div class="domo-input-info-container">
      <h1>See what Domo can do for you.</h1>
      <p>
        Fill out the form to get instant access to an exclusive video demo.
      </p>
      <input type="text" name="name" value="" placeholder="First Name">
      <input type="text" name="name" value="" placeholder="Last Name">
      <input type="text" name="name" value="" placeholder="Business Email">
      <input type="text" name="name" value="" placeholder="Phone">
      <input type="text" name="name" value="" placeholder="Company">
      <input type="text" name="name" value="" placeholder="Department">
      <input type="text" name="name" value="" placeholder="Title">
      <a class="nav-link" href="https://www.domo.com/request-a-demo"><button class="domo-oj-btn" type="button" name="button">WATCH DEMO</button></a>
    </div>
  </div>
</section>
<section class="domo-footer-section">
  <div class="domo-footer-container">
    <div class="dev-team-container">
      <div class="linkedin-header">
        <p>
          Dev Team
        </p>
      </div>
      <div class="linkedin-container">
        <p>
          <a href="https://www.linkedin.com/in/craig-walker-94a62594?authType=OUT_OF_NETWORK&authToken=cGvy&locale=en_US&srchid=3350727541464729642905&srchindex=1&srchtotal=346350&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3350727541464729642905%2CVSRPtargetId%3A335974666%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3AOUT_OF_NETWORK"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Craig Walker</a>
        </p>
      </div>
      <div class="linkedin-container">
        <p>
          <a href="https://www.linkedin.com/in/spencerkekauoha"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Spencer Kekauoha</a>
        </p>
      </div>
      <div class="linkedin-container">
        <p>
          <a href="https://www.linkedin.com/in/donovan-hiland-589969bb?authType=NAME_SEARCH&authToken=2Fyc&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A429375993%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1464729719661%2Ctas%3Adonovan"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Donovan Hilland</a>
        </p>
      </div>
      <div class="linkedin-container">
        <p>
          <a href="https://www.linkedin.com/in/karamhijazi?authType=NAME_SEARCH&authToken=IG3Y&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A351281561%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1464729344883%2Ctas%3Akaram"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Karam Hijazi</a>
        </p>
      </div>
      <div class="domo-logo">
        <img src="https://d3kjp0zrek7zit.cloudfront.net/uploads/vendor/image/490/large_detail_1391173259.jpg" alt="" />
        <p id="domo-clone">
          This is a clone of Domo.
        </p>
      </div>
    </div>
  </div>
</section>
