<header class="nav-section">
  <img id="domo-logo" src="https://d3kjp0zrek7zit.cloudfront.net/uploads/vendor/image/490/large_detail_1391173259.jpg
    " alt="" />
  <nav class="site-nav">
    <div class="nav-menu-item"><a class="nav-link" id="home" ui-sref="home">Home</a></div>
    <div class="nav-menu-item"><a class="nav-link" ui-sref="#">Dashboard</a></div>
    <div class="nav-menu-item"><a class="nav-link" ui-sref="signin">Sign In</a></div>
    <div class="nav-menu-item"><button class="domo-oj-btn" type="button" name="button">WATCH DEMO</button></div>
  </nav>
</header>
