<header class="dash-nav-section">
    <div class="dash-nav-top">
        <a class="nav-link" id="home" ui-sref="home"><img id="domo-dash-logo" src="https://d3kjp0zrek7zit.cloudfront.net/uploads/vendor/image/490/large_detail_1391173259.jpg
    " alt="" /></a>
        <div class="dash-nav-name">
            <h2>{{users.firstname}}</h2>
        </div>
        <nav class="site-nav">
            <div class="nav-menu-item">
            </div>
            <div class="nav-menu-item">
            </div>
        </nav>
    </div>
    <div class="dash-nav-bottom">
        <ul>
            <a ui-sref="dashboard.overview">
                <li>Overview</li>
            </a>
            <a ui-sref="dashboard.twitter">
                <li>Twitter</li>
            </a>
            <a ui-sref="dashboard.twitter-globe">
                <li>Twitter Globe</li>
            </a>
            <a ui-sref="dashboard.instagram">
                <li>Instagram</li>
            </a>
            <a ui-sref="dashboard.info">
                <li>Info</li>
            </a>
            <a ui-sref="dashboard.alerts">
                <li>Alerts</li>
            </a>
            <a ui-sref="dashboard.settings">
                <li>Settings</li>
            </a>
        </ul>
    </div>
</header>

<ui-view></ui-view>
