<div class="dash-nav-mobile">
  <div class="hamburger-container">
    <button class="hamburger">&#9776;</button>
  </div>
</div>
<div class="dash-nav-mobile-menu">
  <ul>
    <a ui-sref="dashboard.overview"><li>Overview</li></a>
    <a ui-sref="dashboard.twitter"><li>Twitter</li></a>
    <a ui-sref="dashboard.twitter-globe"><li>Twitter Globe</li></a>
    <a ui-sref="dashboard.instagram"><li>Instagram</li></a>
    <a ui-sref="dashboard.info"><li>Info</li></a>
    <a ui-sref="dashboard.alerts"><li>Alerts</li></a>
    <a ui-sref="dashboard.settings"><li>Settings</li></a>
  </ul>
</div>
