<header>
    <div class="engagement-title-container">
        <h1>Twitter Engagement By Tweets</h1>
    </div>
</header>
<section class="engagement-section-container">
    <div class="svg-container">
        <twitter-bar></twitter-bar>
    </div>
    <div class="engagement-data-container">
        <div class="engagement-data">
            <h3>Total Engagement</h3>
            <h1>{{twitterAnalysis.totalEngagement}}</h1>
        </div>
        <div class="engagement-percent">
            <h3>Engagement as a % of Followers</h3>
            <h1>{{twitterAnalysis.engagementAsPercentOfFollowers | limitTo: 3}}%</h1>
        </div>
        <div class="engagement-stats">
            <div class="main-stats">
                <h3>Retweets</h3>
                <h1>{{twitterAnalysis.totalRetweets}}</h1>
            </div>
            <div class="sub-stats">
                <h3>Retweets Per Tweet</h3>
                <h1>{{twitterAnalysis.retweetsPerTweet | limitTo : 3}}</h1>
            </div>
        </div>

        <div class="engagement-stats">
            <div class="main-stats">
                <h3>Favorites</h3>
                <h1>{{twitterAnalysis.totalFavorites}}</h1>
            </div>
            <div class="sub-stats">
                <h3>Favorites Per Tweet</h3>
                <h1>{{twitterAnalysis.favoritesPerTweet | limitTo : 3}}</h1>
            </div>
        </div>
    </div>
</section>
<header>
    <div class="engagement-title-container">
        <h1>Twitter Engagement By Day And Time</h1>
    </div>
</header>
<section class="engagement-section-container">
    <div class="svg-container">
        <twitter-line-hour></twitter-line-hour>
    </div>
    <div class="engagement-data-container">
        <div class="engagement-data">
            <h3>Total Engagement</h3>
            <h1>{{twitterAnalysis.totalEngagement}}</h1>
        </div>
        <div class="engagement-percent">
            <h3>Engagement as a % of Followers</h3>
            <h1>{{twitterAnalysis.engagementAsPercentOfFollowers | limitTo: 3}}%</h1>
        </div>
        <div class="engagement-stats">
            <div class="main-stats">
                <h3>Retweets</h3>
                <h1>{{twitterAnalysis.totalRetweets}}</h1>
            </div>
            <div class="sub-stats">
                <h3>Retweets Per Tweet</h3>
                <h1>{{twitterAnalysis.retweetsPerTweet | limitTo : 3}}</h1>
            </div>
        </div>

        <div class="engagement-stats">
            <div class="main-stats">
                <h3>Favorites</h3>
                <h1>{{twitterAnalysis.totalFavorites}}</h1>
            </div>
            <div class="sub-stats">
                <h3>Favorites Per Tweet</h3>
                <h1>{{twitterAnalysis.favoritesPerTweet | limitTo : 3}}</h1>
            </div>
        </div>
    </div>
</section>
<!-- test -->
