<header>
  <div class="engagement-title-container">
    <h1>Twitter Engagement</h1>
  </div>
</header>
<section class="engagement-section-container">
  <div class="engagement-container">
    <div class="graph-container">
      <div id=graph>
        <!-- <img src="./assets/images/line-graph.PNG" alt="" /> -->
        <twitter-bar></twitter-bar>
      </div>
      <div class="engagement-data-container">
        <div class="engagement-data">
          <h3>Total Engagement</h3>
          <h1>{{twitterAnalysis.totalEngagement}}</h1>
        </div>
        <div class="engagement-percent">
          <h3>Engagement as a % of Followers</h3>
          <h1>{{twitterAnalysis.topDayToPost.percentOfTotal}}%</h1>
        </div>
        <div class="line">
          <hr>
        </div>
        <div class="engagement-retweets">
          <h3>Retweets Per Tweet:</h3>
          <h1>{{twitterAnalysis.retweetsPerTweet}}</h1>
        </div>
        <div class="engagement-favorites">
          <h3>Favorites Per Tweet:</h3>
          <h1>{{twitterAnalysis.favoritesPerTweet}}</h1>
        </div>
        <div class="line2">
          <hr>
        </div>
        <div class="engagement-daily">
          <h3>Top Day To Post:</h3>
          <h1>{{twitterAnalysis.topDayToPost.day}}</h1>
          <h3>Total Engagement:</h3>
          <h1>{{twitterAnalysis.topDayToPost.engagement}}</h1>
          <h3>Percent of Total:</h3>
          <h1>{{twitterAnalysis.topDayToPost.percentOfTotal}}%</h1>
        </div>
      </div>
    </div>
  </div>
</section>
