<header>
    <div class="engagement-title-container">
        <h1>Twitter Engagement By Tweets</h1>
    </div>
</header>
<section class="engagement-section-container">
    <div class="svg-container">
        <twitter-tweet-engagement></twitter-tweet-engagement>
    </div>
    <div class="engagement-data-container">
        <div class="engagement-data">
            <h3>Total Engagement</h3>
            <h1>{{twitterAnalysis.totalEngagement}}</h1>
        </div>
        <div class="engagement-percent">
            <h3>Engagement as a % of Followers</h3>
            <h1>{{twitterAnalysis.engagementAsPercentOfFollowers | limitTo: 3}}%</h1>
        </div>
        <div class="engagement-stats">
            <div class="main-stats">
                <h3>Retweets</h3>
                <h1>{{twitterAnalysis.totalRetweets}}</h1>
            </div>
            <div class="sub-stats">
                <h3>Retweets Per Tweet</h3>
                <h1>{{twitterAnalysis.retweetsPerTweet | limitTo : 3}}</h1>
            </div>
        </div>

        <div class="engagement-stats">
            <div class="main-stats">
                <h3>Favorites</h3>
                <h1>{{twitterAnalysis.totalFavorites}}</h1>
            </div>
            <div class="sub-stats">
                <h3>Favorites Per Tweet</h3>
                <h1>{{twitterAnalysis.favoritesPerTweet | limitTo : 3}}</h1>
            </div>
        </div>
    </div>
</section>
<header>
    <div class="engagement-title-container">
        <h1>Twitter Engagement By Day</h1>
    </div>
</header>
<section class="engagement-section-container">
    <div class="svg-container">
        <twitter-engagement-day></twitter-engagement-day>
    </div>
    <div class="engagement-data-container">
        <div class="engagement-stats vertical-center-stats">
            <div class="data-title">Top Day for Engagement</div>
            <div class="data-number">{{twitterAnalysis.topDayToPost.day}}</div>
            <div class="data-percent">{{twitterAnalysis.topDayToPost.percentOfTotal}}% of your total comments</div>
        </div>
    </div>
</section>
<header>
    <div class="engagement-title-container">
        <h1>Twitter Engagement By Time</h1>
    </div>
</header>
<section class="engagement-section-container">
    <div class="svg-container">
        <twitter-engagement-hour></twitter-engagement-hour>
    </div>
    <div class="engagement-data-container">
        <div class="engagement-stats vertical-center-stats">
            <div class="data-title">Top Hour for Engagement</div>
            <div class="data-number">{{twitterAnalysis.topHourToPost.hour}}</div>
            <div class="data-percent">{{twitterAnalysis.topHourToPost.percentOfTotal}}% of your total comments</div>
        </div>
    </div>
</section>
<header>
    <div class="engagement-title-container">
        <h1>Number of Tweets Posted by Day</h1>
    </div>
</header>
<section class="engagement-section-container">
    <div class="svg-container">
        <tweets-by-day></tweets-by-day>
    </div>
    <div class="engagement-data-container">
        <div class="engagement-stats vertical-center-stats">
            <div class="data-title">Favorite Day to Tweet</div>
            <div class="data-number">{{twitterAnalysis.favoritePostDay.day}}</div>
            <div class="data-percent">{{twitterAnalysis.favoritePostDay.percentOfTotal}}% of your total tweets</div>
        </div>
    </div>
</section>
<header>
    <div class="engagement-title-container">
        <h1>Number of Tweets Posted by Hour</h1>
    </div>
</header>
<section class="engagement-section-container">
    <div class="svg-container">
        <tweets-by-hour></tweets-by-hour>
    </div>
    <div class="engagement-data-container">
        <div class="engagement-stats vertical-center-stats">
            <div class="data-title">Favorite Hour to Tweet</div>
            <div class="data-number">{{twitterAnalysis.favoritePostHour.hour}}</div>
            <div class="data-percent">{{twitterAnalysis.favoritePostHour.percentOfTotal}}% of your total tweets</div>
        </div>
    </div>
</section>
<footer></footer>
<!-- test -->
