<form role="form">
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" ng-model="email.toField" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Subject:</label>
            <input type="text" class="form-control" id="pwd" ng-model="email.subjectField">
        </div>
        <div class="form-group">
            <label for="pwd">Message:</label>
            <input type="text" class="form-control" id="pwd" ng-model="email.textField">
        </div>
        <div class="checkbox">

        </div>
        <button type="submit" class="btn btn-default" ng-click="sendEmail(email)">Submit</button>
    </form>
