@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
$domo-grey: #333;
$domo-text: #555;
$domo-solutions-border: rgb(125, 125, 125);
$domo-blue: #9ce;
$domo-link: #8bd;
$domo-oj: #f92;
$domo-font: 'Open Sans', Helvetica, Arial, sans-serif;
$test-border: 1px red solid;
/////////////////////////////////
////// Dashboard Nav
////////////////////////////////
.dash-nav-section {
    .dash-nav-top {
        height: 7vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        background-color: $domo-text;
        .dash-nav-name {
            margin-left: 40px;
            padding-right: 10px;
            padding-left: 10px;
            white-space: nowrap;
            background-color: #FA8D32;
            color: #fff;
            h2 {
                text-align: center;
                margin: 10px;
            }
        }
        .site-nav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            width: 100vw;
        }
    }
    .dash-nav-bottom {
      display: flex;
      align-items: center;
      padding-top: 7px;
      height: 5vh;
      width: 100vw;
      background-color: #333;
        ul {
            display: inline-block;
            li {
                float: left;
                margin: 14px;
                font-family: $domo-font;
                font-size: 16px;
                color: #fff;
            }
        }
        ul li:hover {
            padding: 6px;
            margin: 8px;
            color: $domo-blue;
        }
    }
}
#domo-dash-logo {
    height: 6.95vh;
    float: left;
}

@media screen and (max-width: 768px) {
  .dash-nav-bottom {
    display: flex;
    justify-content: center;
    ul {
      li {
        font-size: 12px !important;
        margin: 5px !important;
      }
    }
  }
}

/////////////////////////////////
////// Dashboard backdrop
////////////////////////////////
.dashboard {
    padding: 20px;
    background-color: #F5F5F5;
    .dash-top {
        font-family: $domo-font;
        h2 {
            font-size: 26px;
            float: left;
            margin-top: 5px;
        }
        .dash-menu {
            float: right;
            margin-right: 20px;
            .btn-group {
                margin-right: 20px;
            }
            .btn:hover {
                background-color: #bfbfbf;
            }
        }
    }
}

#add-card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 130px;
  margin: auto;
  margin-right: 3vw;
  background-color: $domo-oj;
  font-family: $domo-font;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  border: none;
  text-decoration: none;
}

#add-card-btn:hover {
  background-color: $domo-blue;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/////////////////////////////////
////// Cards
////////////////////////////////

.dash-card-section {

  .dash-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .dash-card {
      height: 100%;
      width: 300px;
      margin: 2vh;
      background-color: #fff;
      border: 1px #EEEEEE solid;

      header {
        display: flex;
        justify-content: space-between;
        border: 1px #eee solid;

        .deleteCard {
          i {
            cursor: pointer;
            margin: 5px;
          }

          i:hover {
            color: red;
          }
        }
        .card-title-container {

          h1 {
            font-family: $domo-font;
            font-size: 16px;
            font-weight: 400;
            margin: 5px;
          }
        }
      }
      .graph-container {
        display: flex;
        justify-content: center;

        #graph {
          width: 100%;
          height: 35vh;
          overflow: hidden;
          display: flex;
          justify-content: center;
          border-right: 1px #eee solid;
          border-left: 1px #eee solid;
        }
      }
      .dash-footer-icons {
        display: flex;
        justify-content: flex-end;
        border: 1px #eee solid;

        i {
          margin-left: 5px;
          margin: 5px;
          align-self: baseline;
          cursor: pointer;
        }

        i:hover {
          opacity: .7;
        }
      }
    }
  }
}


/////////////////////////////////
////// Graphs
////////////////////////////////

.modal-images {
  width: 100%;
  img {
    width: 24%;
    cursor: pointer;
  }
  img:hover {
    background-color: #d0d0d0;
  }
}
.pick-graph {
  text-align: center;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
bar-chart, graphs, scatter-plot, pie-chart, line-chart{
  display:block;
  width:100%;
  height:100%;
  text-align: center;
}

path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
