@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
.nav-section {
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 999; }
  .nav-section .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
    border-bottom: 1px #f0f0f0 solid; }
    .nav-section .site-nav .nav-menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px; }
      .nav-section .site-nav .nav-menu-item .nav-link {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: #555;
        text-decoration: none; }
      .nav-section .site-nav .nav-menu-item .domo-oj-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 130px;
        margin: auto;
        margin-right: 3vw;
        background-color: #f92;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #fff;
        border: none;
        text-decoration: none; }
      .nav-section .site-nav .nav-menu-item .domo-oj-btn:hover {
        background-color: #9ce;
        transition: all 0.3s ease-in-out;
        text-decoration: none; }

#domo-logo {
  height: 10vh;
  float: left; }

.landing-section {
  padding-top: 10vh; }
  .landing-section .landing-container .landing {
    background-image: url("../images/bc-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: center; }
    .landing-section .landing-container .landing .landing-info-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .landing-section .landing-container .landing .landing-info-container .landing-title {
        margin-top: -50vh;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 44px;
        font-weight: 300;
        letter-spacing: -1px;
        text-align: center;
        color: white; }
      .landing-section .landing-container .landing .landing-info-container .landing-info {
        margin-top: 5vh;
        width: 65vw;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
        color: white; }
      .landing-section .landing-container .landing .landing-info-container .domo-oj-btn {
        margin-top: 5vh;
        height: 35px;
        width: 130px;
        background-color: #f92;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #fff;
        border: none; }
      .landing-section .landing-container .landing .landing-info-container .domo-oj-btn:hover {
        background-color: #9ce;
        transition: all 0.3s ease-in-out; }

.domo-promo-section {
  padding: 0; }
  .domo-promo-section .domo-promo-container {
    display: inline-flex;
    width: 100%; }
    .domo-promo-section .domo-promo-container .domo-promo-card {
      width: 33.33333333%;
      box-sizing: border-box;
      background-color: #333; }

#appstore {
  height: 32vh;
  width: 33.333333%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden; }
  #appstore .appstore-info {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    #appstore .appstore-info h3 {
      margin-bottom: 1vh;
      justify-content: center;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: white;
      text-align: center; }
    #appstore .appstore-info p {
      margin-bottom: 4vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      color: white; }
    #appstore .appstore-info .appstore-info-border a {
      padding: 8px 14px;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      color: white;
      text-decoration: none;
      border: 2px white solid; }
    #appstore .appstore-info .appstore-info-border a:hover {
      border: 2px #9ce solid;
      background-color: #9ce;
      transition: all 0.3s ease-in-out; }
  #appstore .appstore-img {
    width: 0vh;
    display: flex;
    flex-wrap: wrap; }
    #appstore .appstore-img img {
      height: 32vh;
      margin-left: -2vw; }

#mastercard {
  height: 32vh;
  width: 33.333333%;
  background-image: url("../images/city-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  #mastercard .tint {
    z-index: 1;
    height: 32vh;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4); }
    #mastercard .tint .mastercard-img {
      height: 10vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      #mastercard .tint .mastercard-img img {
        height: 7vh;
        margin-top: 3vh; }
  #mastercard .mastercard-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
    margin-top: -20vh; }
    #mastercard .mastercard-info p {
      margin-bottom: 4vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      color: white; }
    #mastercard .mastercard-info .mastercard-info-border a {
      padding: 8px 14px;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      color: white;
      text-decoration: none;
      border: 2px white solid; }
    #mastercard .mastercard-info .mastercard-info-border a:hover {
      border: 2px #9ce solid;
      background-color: #9ce;
      transition: all 0.3s ease-in-out; }

#mobile {
  height: 32vh;
  width: 33.333333%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden; }
  #mobile .mobile-info {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    #mobile .mobile-info h3 {
      margin-bottom: 1vh;
      justify-content: center;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: white;
      text-align: center; }
    #mobile .mobile-info p {
      margin-bottom: 4vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      color: white; }
    #mobile .mobile-info .mobile-info-border a {
      padding: 8px 14px;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      color: white;
      text-decoration: none;
      border: 2px white solid; }
    #mobile .mobile-info .mobile-info-border a:hover {
      border: 2px #9ce solid;
      background-color: #9ce;
      transition: all 0.3s ease-in-out; }
  #mobile .mobile-img {
    width: 0vh;
    display: flex;
    flex-wrap: wrap; }
    #mobile .mobile-img img {
      height: 32vh;
      margin-left: -2vw;
      margin-top: 5vh; }

.domo-example-section .domo-example-container {
  height: 120vh;
  width: 100%;
  overflow: hidden; }
  .domo-example-section .domo-example-container .domo-example-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .domo-example-section .domo-example-container .domo-example-info h1 {
      width: 55vw;
      margin-top: 15vh;
      margin-bottom: 4vh;
      justify-content: center;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 44px;
      font-weight: 400;
      line-height: 1.1;
      color: #555;
      text-align: center; }
    .domo-example-section .domo-example-container .domo-example-info p {
      width: 55vw;
      margin-bottom: 5vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-weight: 100;
      line-height: 1.1;
      text-align: center;
      color: #555; }
    .domo-example-section .domo-example-container .domo-example-info .mobile-info-border a {
      padding: 8px 14px;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #555;
      text-decoration: none;
      border: 2px #555 solid; }
    .domo-example-section .domo-example-container .domo-example-info .mobile-info-border a:hover {
      border: 2px #9ce solid;
      background-color: #9ce;
      transition: all 0.3s ease-in-out;
      color: #fff; }
  .domo-example-section .domo-example-container .domo-example-img {
    display: flex;
    justify-content: center; }

.domo-solution-section .domo-solution-container {
  height: 130vh;
  width: 100%;
  background-color: #333; }
  .domo-solution-section .domo-solution-container .domo-solution-info {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .domo-solution-section .domo-solution-container .domo-solution-info h1 {
      margin-top: 10vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 44px;
      font-weight: 300;
      text-align: center;
      color: #fff; }
    .domo-solution-section .domo-solution-container .domo-solution-info p {
      width: 75%;
      margin-top: 5vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      text-align: center;
      align-self: center;
      color: #fff; }

.domo-solution-section .solution-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto; }
  .domo-solution-section .solution-card-container .solution-card {
    height: 30vh;
    width: 25%;
    box-sizing: border-box;
    background-color: #333; }

#card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px #7d7d7d solid;
  border-bottom: 1px #7d7d7d solid;
  overflow: hidden; }
  #card-1 .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh; }
    #card-1 .ceo-image-container img {
      margin-top: 30vh;
      margin-bottom: 2vh; }
  #card-1 .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh; }
    #card-1 .ceo-container #ceo {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
  #card-1 .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh; }
    #card-1 .ceo-info-container h3 {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
    #card-1 .ceo-info-container a {
      text-decoration: none; }
    #card-1 .ceo-info-container a:hover {
      text-decoration: underline;
      color: #8bd; }
    #card-1 .ceo-info-container #ceo-link {
      margin-top: 2vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #9ce; }
    #card-1 .ceo-info-container #ceo-link:hover {
      color: #8bd; }

#card-1:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh; }

#card-1:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0; }

#card-1:hover {
  background-color: #555; }

#card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px #7d7d7d solid;
  border-bottom: 1px #7d7d7d solid;
  overflow: hidden; }
  #card-2 .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh; }
    #card-2 .ceo-image-container img {
      margin-top: 30vh;
      margin-bottom: 2vh; }
  #card-2 .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh; }
    #card-2 .ceo-container #ceo {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
  #card-2 .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh; }
    #card-2 .ceo-info-container h3 {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
    #card-2 .ceo-info-container a {
      text-decoration: none; }
    #card-2 .ceo-info-container a:hover {
      text-decoration: underline;
      color: #8bd; }
    #card-2 .ceo-info-container #ceo-link {
      margin-top: 2vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #9ce; }
    #card-2 .ceo-info-container #ceo-link:hover {
      color: #8bd; }

#card-2:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh; }

#card-2:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0; }

#card-2:hover {
  background-color: #555; }

#card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px #7d7d7d solid;
  border-bottom: 1px #7d7d7d solid;
  overflow: hidden; }
  #card-3 .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh; }
    #card-3 .ceo-image-container img {
      margin-top: 30vh;
      margin-bottom: 2vh; }
  #card-3 .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh; }
    #card-3 .ceo-container #ceo {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
  #card-3 .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh; }
    #card-3 .ceo-info-container h3 {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
    #card-3 .ceo-info-container a {
      text-decoration: none; }
    #card-3 .ceo-info-container a:hover {
      text-decoration: underline;
      color: #8bd; }
    #card-3 .ceo-info-container #ceo-link {
      margin-top: 2vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #9ce; }
    #card-3 .ceo-info-container #ceo-link:hover {
      color: #8bd; }

#card-3:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh; }

#card-3:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0; }

#card-3:hover {
  background-color: #555; }

#card-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px #7d7d7d solid;
  border-bottom: 1px #7d7d7d solid;
  overflow: hidden; }
  #card-4 .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh; }
    #card-4 .ceo-image-container img {
      margin-top: 30vh;
      margin-bottom: 2vh; }
  #card-4 .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh; }
    #card-4 .ceo-container #ceo {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
  #card-4 .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh; }
    #card-4 .ceo-info-container h3 {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
    #card-4 .ceo-info-container a {
      text-decoration: none; }
    #card-4 .ceo-info-container a:hover {
      text-decoration: underline;
      color: #8bd; }
    #card-4 .ceo-info-container #ceo-link {
      margin-top: 2vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #9ce; }
    #card-4 .ceo-info-container #ceo-link:hover {
      color: #8bd; }

#card-4:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh; }

#card-4:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0; }

#card-4:hover {
  background-color: #555; }

#card-4 {
  border-bottom: 1px #7d7d7d solid;
  border-right: none; }

#card-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px #7d7d7d solid;
  border-bottom: 1px #7d7d7d solid;
  overflow: hidden; }
  #card-5 .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh; }
    #card-5 .ceo-image-container img {
      margin-top: 30vh;
      margin-bottom: 2vh; }
  #card-5 .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh; }
    #card-5 .ceo-container #ceo {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
  #card-5 .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh; }
    #card-5 .ceo-info-container h3 {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
    #card-5 .ceo-info-container a {
      text-decoration: none; }
    #card-5 .ceo-info-container a:hover {
      text-decoration: underline;
      color: #8bd; }
    #card-5 .ceo-info-container #ceo-link {
      margin-top: 2vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #9ce; }
    #card-5 .ceo-info-container #ceo-link:hover {
      color: #8bd; }

#card-5:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh; }

#card-5:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0; }

#card-5:hover {
  background-color: #555; }

#card-5 {
  border-right: 1px #7d7d7d solid;
  border-bottom: none; }

#card-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px #7d7d7d solid;
  border-bottom: 1px #7d7d7d solid;
  overflow: hidden; }
  #card-6 .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh; }
    #card-6 .ceo-image-container img {
      margin-top: 30vh;
      margin-bottom: 2vh; }
  #card-6 .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh; }
    #card-6 .ceo-container #ceo {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
  #card-6 .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh; }
    #card-6 .ceo-info-container h3 {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
    #card-6 .ceo-info-container a {
      text-decoration: none; }
    #card-6 .ceo-info-container a:hover {
      text-decoration: underline;
      color: #8bd; }
    #card-6 .ceo-info-container #ceo-link {
      margin-top: 2vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #9ce; }
    #card-6 .ceo-info-container #ceo-link:hover {
      color: #8bd; }

#card-6:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh; }

#card-6:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0; }

#card-6:hover {
  background-color: #555; }

#card-6 {
  border-right: 1px #7d7d7d solid;
  border-bottom: none; }

#card-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px #7d7d7d solid;
  border-bottom: 1px #7d7d7d solid;
  overflow: hidden; }
  #card-7 .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh; }
    #card-7 .ceo-image-container img {
      margin-top: 30vh;
      margin-bottom: 2vh; }
  #card-7 .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh; }
    #card-7 .ceo-container #ceo {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
  #card-7 .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh; }
    #card-7 .ceo-info-container h3 {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
    #card-7 .ceo-info-container a {
      text-decoration: none; }
    #card-7 .ceo-info-container a:hover {
      text-decoration: underline;
      color: #8bd; }
    #card-7 .ceo-info-container #ceo-link {
      margin-top: 2vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #9ce; }
    #card-7 .ceo-info-container #ceo-link:hover {
      color: #8bd; }

#card-7:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh; }

#card-7:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0; }

#card-7:hover {
  background-color: #555; }

#card-7 {
  border-right: 1px #7d7d7d solid;
  border-bottom: none; }

#card-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px #7d7d7d solid;
  border-bottom: 1px #7d7d7d solid;
  overflow: hidden; }
  #card-8 .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh; }
    #card-8 .ceo-image-container img {
      margin-top: 30vh;
      margin-bottom: 2vh; }
  #card-8 .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh; }
    #card-8 .ceo-container #ceo {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
  #card-8 .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh; }
    #card-8 .ceo-info-container h3 {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff; }
    #card-8 .ceo-info-container a {
      text-decoration: none; }
    #card-8 .ceo-info-container a:hover {
      text-decoration: underline;
      color: #8bd; }
    #card-8 .ceo-info-container #ceo-link {
      margin-top: 2vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #9ce; }
    #card-8 .ceo-info-container #ceo-link:hover {
      color: #8bd; }

#card-8:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh; }

#card-8:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0; }

#card-8:hover {
  background-color: #555; }

#card-8 {
  border-right: none;
  border-bottom: none; }

.view-solutions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13vh; }
  .view-solutions-container a {
    padding: 8px 14px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    border: 2px white solid; }
  .view-solutions-container a:hover {
    border: 2px #9ce solid;
    background-color: #9ce;
<<<<<<< HEAD
    transition: all 0.3s ease-in-out;
    text-decoration: none; }

.domo-video-section .domo-video-container {
  background-image: url("../images/general_banner_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center; }
  .domo-video-section .domo-video-container .tint {
    z-index: 1;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4); }
    .domo-video-section .domo-video-container .tint .video-mastercard-container {
      display: flex;
      justify-content: center;
      align-items: center; }
      .domo-video-section .domo-video-container .tint .video-mastercard-container img {
        height: 15vh;
        margin-top: 15vh; }
  .domo-video-section .domo-video-container .domo-video-info-container {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .domo-video-section .domo-video-container .domo-video-info-container h1 {
      margin: 2% 7%;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 36px;
      font-style: italic;
      font-weight: 100;
      letter-spacing: 1px;
      line-height: 1.5;
      text-align: center;
      color: #fff; }
  .domo-video-section .domo-video-container .domo-video-button-container {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    .domo-video-section .domo-video-container .domo-video-button-container .fa {
      color: #fff;
      opacity: 1; }
    .domo-video-section .domo-video-container .domo-video-button-container .fa:hover {
      transition: all 0.3s ease-in-out;
      opacity: .5;
      cursor: pointer; }
    .domo-video-section .domo-video-container .domo-video-button-container .glyphicon {
      color: #333; }

.domo-video-modal {
  margin-top: 15vh; }

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh; }
=======
    transition: all 0.3s ease-in-out; }

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
.nav-section {
  height: 10vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .nav-section .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw; }
    .nav-section .site-nav .nav-menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px; }
      .nav-section .site-nav .nav-menu-item .nav-link {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: #555;
        text-decoration: none; }
      .nav-section .site-nav .nav-menu-item .domo-oj-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 130px;
        margin: auto;
        background-color: #f92;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #fff;
        border: none; }

#domo-logo {
  height: 10vh;
  float: left; }

.landing-container .landing {
  background-image: url("../images/bc-hero.jpg");
  background-size: cover;
  height: 90vh;
  width: auto;
  display: flex;
  justify-content: center; }
  .landing-container .landing .landing-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .landing-container .landing .landing-info-container .landing-title {
      margin-top: -53vh;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 44px;
      font-weight: 300;
      letter-spacing: -1px;
      text-align: center;
      color: white; }
    .landing-container .landing .landing-info-container .landing-info {
      margin-top: 5vh;
      width: 65vw;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: white; }
    .landing-container .landing .landing-info-container .domo-oj-btn {
      margin-top: 5vh;
      height: 35px;
      width: 130px;
      background-color: #f92;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #fff;
      border: none; }

.domo-promo-container {
  display: flex;
  flex-wrap: wrap; }
  .domo-promo-container .domo-promo-card {
    height: 25vh;
    width: 20vw;
    background-color: #333; }

#appstore {
  background-image: url("../images/appstore-promo-media.png");
  background-size: cover; }
>>>>>>> master
