@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

$domo-grey: #222;
$domo-text: #555;
$domo-footer: #888;
$domo-solutions-border: rgb(125, 125, 125);
$domo-blue: #9ce;
$domo-link: #8bd;
$domo-oj: #f92;
$domo-font: 'Open Sans', Helvetica, Arial, sans-serif;
$test-border: 1px red solid;


/////////////////////////////////``

////// NAVIGATION

////////////////////////////////

.nav-section {
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 999;

  .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
    border-bottom: 1px #f0f0f0 solid;

    .nav-menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;

      .nav-link {
        font-family: $domo-font;
        font-size: 16px;
        color: $domo-text;
        text-decoration: none;
        cursor: pointer;
      }

      .nav-link:hover {
        color: $domo-blue;
      }

      .domo-oj-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 130px;
        margin: auto;
        margin-right: 3vw;
        background-color: $domo-oj;
        font-family: $domo-font;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #fff;
        border: none;
        text-decoration: none;
      }

      .domo-oj-btn:hover {
        background-color: $domo-blue;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
      }
    }
  }
}

#domo-logo {
  height: 10vh;
  float: left;
}

.modal-header {
  button {
    h4 {

    }
  }
}

.modal-body {
  form {
    fieldset {
      legend {
        font-family: $domo-font;
      }
      .domo-register-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        input {
          margin: 2vh;
          border: 1px $domo-grey solid;
        }
      }
    }
  }
}

.domo-register-btn-container {

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 130px;
    margin: auto;
    background-color: $domo-oj;
    font-family: $domo-font;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    text-decoration: none;
  }

  button:hover {
    background-color: $domo-blue;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
}

.modal-body {
  form {
    fieldset {
      .domo-login-container {
        input {
          margin: 2vh;
          border: 1px $domo-grey solid;
        }
      }
      .domo-login-btn-container {

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 35px;
          width: 130px;
          margin: auto;
          background-color: $domo-oj;
          font-family: $domo-font;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          color: #fff;
          border: none;
          text-decoration: none;
        }

        button:hover {
          background-color: $domo-blue;
          transition: all 0.3s ease-in-out;
          text-decoration: none;
        }
      }
    }
  }
}

/////////////////////////////////

////// NAVIGATION - MEDIA QUERY

////////////////////////////////

@media screen and (max-width: 768px) {
  .nav-section {
    .site-nav {
      .nav-menu-item {
        .nav-link {
          font-family: $domo-font;
          font-size: 10px;
          color: $domo-text;
          text-decoration: none;
          cursor: pointer;

          .domo-oj-btn {
            margin-right: 1vw;
            font-size: 10px;
            font-weight: 100;
            letter-spacing: 0px;
            width: 80px;
          }
        }
      }
    }
  }

  #domo-logo {

  }
}



/////////////////////////////////

////// HOME PAGE - LANDING CONTAINER

////////////////////////////////

.landing-section {
  padding-top: 10vh;

  .landing-container {

    .landing {
       background-image: url("../images/bc-hero.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
       height: 90vh;
       width: auto;
       display: flex;
       justify-content: center;

       .landing-info-container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         .landing-title {
           margin-top: -50vh;
           font-family: $domo-font;
           font-size: 44px;
           font-weight: 300;
           letter-spacing: -1px;
           text-align: center;
           color: white;
         }

         .landing-info {
           margin-top: 5vh;
           width: 65vw;
           font-family: $domo-font;
           font-size: 20px;
           font-weight: 300;
           letter-spacing: 1px;
           text-align: center;
           color: white;
         }
         .domo-oj-btn {
           margin-top: 5vh;
           height: 35px;
           width: 130px;
           background-color: $domo-oj;
           font-family: $domo-font;
           font-size: 12px;
           font-weight: 700;
           letter-spacing: 1px;
           color: #fff;
           border: none;
         }

         .domo-oj-btn:hover {
           background-color: $domo-blue;
           transition: all 0.3s ease-in-out;
         }
       }
    }
  }
}

/////////////////////////////////

////// HOME PAGE - LANDING CONTAINER - MEDIA QUERY

////////////////////////////////

@media screen and (max-width: 768px) {
  .landing-section {
    .landing-container {
      .landing {
        .landing-info-container {
          .landing-title {
            padding-top: 25vh;
            font-size: 36px;
          }
        }
      }
    }
  }
}

/////////////////////////////////

////// HOME PAGE - DOMO-PROMO-CARD

////////////////////////////////


.domo-promo-section {
  padding: 0;

  .domo-promo-container {
    display: inline-flex;
    width: 100%;

    .domo-promo-card {
      width: 33.33333333%;
      box-sizing: border-box;
      background-color: $domo-grey;
    }
  }
}

#appstore {
  height: 32vh;
  width: 33.333333%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;

  .appstore-info {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h3 {
      margin-bottom: 1vh;
      justify-content: center;
      font-family: $domo-font;
      font-size: 20px;
      font-weight: 400;
      color: white;
      text-align: center;
    }

    p {
      margin-bottom: 4vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      color: white;
    }

    .appstore-info-border {

      a {
        padding: 8px 14px;
        font-family: $domo-font;
        font-size: 11px;
        letter-spacing: 1px;
        color: white;
        text-decoration: none;
        border: 2px white solid;
      }

      a:hover {
        border: 2px $domo-blue solid;
        background-color: $domo-blue;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .appstore-img {
    width: 0vh;
    display: flex;
    flex-wrap: wrap;

    img{
      height: 32vh;
      margin-left: -2vw;
    }
  }
}

#mastercard {
  height: 32vh;
  width: 33.333333%;
  background-image: url("../images/city-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .tint {
    z-index: 1;
    height: 32vh;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);

    .mastercard-img {
      height: 10vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        height: 7vh;
        margin-top: 3vh;
      }
    }
  }
  .mastercard-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
    margin-top: -20vh;

    p {
      margin-bottom: 4vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      color: white;
    }

    .mastercard-info-border {

      a {
        padding: 8px 14px;
        font-family: $domo-font;
        font-size: 12px;
        letter-spacing: 1px;
        color: white;
        text-decoration: none;
        border: 2px white solid;
      }

      a:hover {
        border: 2px $domo-blue solid;
        background-color: $domo-blue;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}





#mobile {
  height: 32vh;
  width: 33.333333%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;

  .mobile-info {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h3 {
      margin-bottom: 1vh;
      justify-content: center;
      font-family: $domo-font;
      font-size: 20px;
      font-weight: 400;
      color: white;
      text-align: center;
    }

    p {
      margin-bottom: 4vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      color: white;
    }

    .mobile-info-border {

      a {
        padding: 8px 14px;
        font-family: $domo-font;
        font-size: 12px;
        letter-spacing: 1px;
        color: white;
        text-decoration: none;
        border: 2px white solid;
      }

      a:hover {
        border: 2px $domo-blue solid;
        background-color: $domo-blue;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .mobile-img {
    width: 0vh;
    display: flex;
    flex-wrap: wrap;

    img{
      height: 32vh;
      margin-left: -2vw;
      margin-top: 5vh;
    }
  }
}


/////////////////////////////////

////// HOME PAGE - MEDIA QUERY

////////////////////////////////

@media screen and (max-width: 768px) {
  .domo-promo-section {

    .domo-promo-container {
      display: flex;
      justify-content: center;
      #appstore {
        display: flex;
        justify-content: flex-start;
        height: 32vh;
        width: 100%;
        .appstore-info {
          width: 40%;
          margin-left: 20vw;

          h3 {

          }
          p {
            font-size: 12px;
          }
          .appstore-info-border {
            a {
              font-size: 8px;
            }
          }
        }
        .appstore-img {
          img {
            margin-left: 0vh;
          }
        }
      }
      #mastercard {
        display: none;
      }
      #mobile {
        display: none;
      }
    }
  }
}


/////////////////////////////////

////// HOME PAGE - DOMO-EXAMPLE

////////////////////////////////

.domo-example-section {

  .domo-example-container {
    height: 120vh;
    width: 100%;
    overflow: hidden;

    .domo-example-info {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      h1 {
        width: 55vw;
        margin-top: 15vh;
        margin-bottom: 4vh;
        justify-content: center;
        font-family: $domo-font;
        font-size: 44px;
        font-weight: 400;
        line-height: 1.1;
        color: $domo-text;
        text-align: center;
      }

      p {
        width: 55vw;
        margin-bottom: 5vh;
        font-family: $domo-font;
        font-size: 20px;
        font-weight: 100;
        line-height: 1.1;
        text-align: center;
        color: $domo-text;
      }

      .mobile-info-border {

        a {
          padding: 8px 14px;
          font-family: $domo-font;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          color: $domo-text;
          text-decoration: none;
          border: 2px $domo-text solid;
        }

        a:hover {
          border: 2px $domo-blue solid;
          background-color: $domo-blue;
          transition: all 0.3s ease-in-out;
          color: #fff;
        }
      }
    }

    .domo-example-img {
      display: flex;
      justify-content: center;
      padding-left: 15px;
      padding-right: 15px;

      img {
        height: auto;
        max-width: 100%;
      }
    }
  }
}

/////////////////////////////////

////// HOME PAGE - DOMO-EXAMPLE - MEDIA QUERY

////////////////////////////////

@media screen and (max-width: 768px) {
  .domo-example-section {
    .domo-example-container {
      .domo-example-info {
        h1 {
          width: 95%;
          font-size: 36px;
        }

        p{
          width: 95%;
          font-size: 20px;
        }
      }
      .domo-example-img {

        img {

        }
      }
    }
  }
}

/////////////////////////////////

////// HOME PAGE - DOMO-SOLUTION

////////////////////////////////

.domo-solution-section {

  .domo-solution-container {
    height: 130vh;
    width: 100%;
    background-color: $domo-grey;

    .domo-solution-info {
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        margin-top: 10vh;
        font-family: $domo-font;
        font-size: 44px;
        font-weight: 300;
        text-align: center;
        color: #fff;
      }

      p {
        width: 75%;
        margin-top: 5vh;
        font-family: $domo-font;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
        align-self: center;
        color: #fff;
      }
    }
  }
  .solution-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;



    .solution-card {
      height: 30vh;
      width: 25%;
      box-sizing: border-box;
      background-color: $domo-grey;
    }

  }
}

/////////////////////////////////

////// HOME PAGE - DOMO-SOLUTION - CARD-1

////////////////////////////////


#card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px $domo-solutions-border solid;
  border-bottom: 1px $domo-solutions-border solid;
  overflow: hidden;

  .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh;

    img {
      margin-top: 30vh;
      margin-bottom: 2vh;
    }
  }

  .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh;

    #ceo {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }
  }

  .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh;
    -webkit-transition: .3s ease-in-out;

    h3 {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $domo-link;
    }

    #ceo-link {
      margin-top: 2vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 600;
      color: $domo-blue;
    }

    #ceo-link:hover {
      color: $domo-link;
    }
  }
}

#card-1:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh;
}

#card-1:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0;
}

#card-1:hover {
  background-color: $domo-text;
}

/////////////////////////////////

////// HOME PAGE - DOMO-SOLUTION - CARD-2

////////////////////////////////

#card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px $domo-solutions-border solid;
  border-bottom: 1px $domo-solutions-border solid;
  overflow: hidden;

  .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh;

    img {
      margin-top: 30vh;
      margin-bottom: 2vh;
    }
  }

  .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh;

    #ceo {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }
  }

  .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh;
    -webkit-transition: .3s ease-in-out;

    h3 {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $domo-link;
    }

    #ceo-link {
      margin-top: 2vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 600;
      color: $domo-blue;
    }

    #ceo-link:hover {
      color: $domo-link;
    }
  }
}

#card-2:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh;
}

#card-2:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0;
}

#card-2:hover {
  background-color: $domo-text;
}

/////////////////////////////////

////// HOME PAGE - DOMO-SOLUTION - CARD-3

////////////////////////////////

#card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px $domo-solutions-border solid;
  border-bottom: 1px $domo-solutions-border solid;
  overflow: hidden;

  .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh;

    img {
      margin-top: 30vh;
      margin-bottom: 2vh;
    }
  }

  .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh;

    #ceo {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }
  }

  .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh;
    -webkit-transition: .3s ease-in-out;

    h3 {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $domo-link;
    }

    #ceo-link {
      margin-top: 2vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 600;
      color: $domo-blue;
    }

    #ceo-link:hover {
      color: $domo-link;
    }
  }
}

#card-3:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh;
}

#card-3:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0;
}

#card-3:hover {
  background-color: $domo-text;
}

/////////////////////////////////

////// HOME PAGE - DOMO-SOLUTION - CARD-4

////////////////////////////////

#card-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px $domo-solutions-border solid;
  border-bottom: 1px $domo-solutions-border solid;
  overflow: hidden;

  .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh;

    img {
      margin-top: 30vh;
      margin-bottom: 2vh;
    }
  }

  .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh;

    #ceo {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }
  }

  .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh;
    -webkit-transition: .3s ease-in-out;

    h3 {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $domo-link;
    }

    #ceo-link {
      margin-top: 2vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 600;
      color: $domo-blue;
    }

    #ceo-link:hover {
      color: $domo-link;
    }
  }
}

#card-4:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh;
}

#card-4:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0;
}

#card-4:hover {
  background-color: $domo-text;
}

#card-4 {
  border-bottom: 1px $domo-solutions-border solid;
  border-right: none;
}

/////////////////////////////////

////// HOME PAGE - DOMO-SOLUTION - CARD-5

////////////////////////////////

#card-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px $domo-solutions-border solid;
  border-bottom: 1px $domo-solutions-border solid;
  overflow: hidden;

  .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh;

    img {
      margin-top: 30vh;
      margin-bottom: 2vh;
    }
  }

  .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh;

    #ceo {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }
  }

  .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh;
    -webkit-transition: .3s ease-in-out;

    h3 {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $domo-link;
    }

    #ceo-link {
      margin-top: 2vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 600;
      color: $domo-blue;
    }

    #ceo-link:hover {
      color: $domo-link;
    }
  }
}

#card-5:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh;
}

#card-5:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0;
}

#card-5:hover {
  background-color: $domo-text;
}

#card-5 {
  border-right: 1px $domo-solutions-border solid;
  border-bottom: none;
}

/////////////////////////////////

////// HOME PAGE - DOMO-SOLUTION - CARD-6

////////////////////////////////

#card-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px $domo-solutions-border solid;
  border-bottom: 1px $domo-solutions-border solid;
  overflow: hidden;

  .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh;

    img {
      margin-top: 30vh;
      margin-bottom: 2vh;
    }
  }

  .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh;

    #ceo {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }
  }

  .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh;
    -webkit-transition: .3s ease-in-out;

    h3 {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $domo-link;
    }

    #ceo-link {
      margin-top: 2vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 600;
      color: $domo-blue;
    }

    #ceo-link:hover {
      color: $domo-link;
    }
  }
}

#card-6:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh;
}

#card-6:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0;
}

#card-6:hover {
  background-color: $domo-text;
}

#card-6 {
  border-right: 1px $domo-solutions-border solid;
  border-bottom: none;
}

/////////////////////////////////

////// HOME PAGE - DOMO-SOLUTION - CARD-7

////////////////////////////////

#card-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px $domo-solutions-border solid;
  border-bottom: 1px $domo-solutions-border solid;
  overflow: hidden;

  .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh;

    img {
      margin-top: 30vh;
      margin-bottom: 2vh;
    }
  }

  .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh;

    #ceo {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }
  }

  .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh;
    -webkit-transition: .3s ease-in-out;

    h3 {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $domo-link;
    }

    #ceo-link {
      margin-top: 2vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 600;
      color: $domo-blue;
    }

    #ceo-link:hover {
      color: $domo-link;
    }
  }
}

#card-7:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh;
}

#card-7:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0;
}

#card-7:hover {
  background-color: $domo-text;
}

#card-7 {
  border-right: 1px $domo-solutions-border solid;
  border-bottom: none;
}

/////////////////////////////////

////// HOME PAGE - DOMO-SOLUTION - CARD-8

////////////////////////////////

#card-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px $domo-solutions-border solid;
  border-bottom: 1px $domo-solutions-border solid;
  overflow: hidden;

  .ceo-image-container {
    margin-top: -25vh;
    margin-bottom: 20vh;

    img {
      margin-top: 30vh;
      margin-bottom: 2vh;
    }
  }

  .ceo-container {
    margin-bottom: 30vh;
    margin-top: -20vh;

    #ceo {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }
  }

  .ceo-info-container {
    margin-top: 0;
    margin-bottom: -30vh;
    -webkit-transition: .3s ease-in-out;

    h3 {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $domo-link;
    }

    #ceo-link {
      margin-top: 2vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 600;
      color: $domo-blue;
    }

    #ceo-link:hover {
      color: $domo-link;
    }
  }
}

#card-8:hover .ceo-info-container {
  transition: all 0.3s ease-in-out;
  margin-bottom: 75vh;
}

#card-8:hover .ceo-container {
  transition: all 0.3s ease-in-out;
  margin-top: 40vh;
  margin-bottom: 5vh;
  padding: 0;
}

#card-8:hover {
  background-color: $domo-text;
}

#card-8 {
  border-right: none;
  border-bottom: none;
}

.view-solutions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13vh;

  a {
    padding: 8px 14px;
    font-family: $domo-font;
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    border: 2px white solid;
  }

  a:hover {
    border: 2px $domo-blue solid;
    background-color: $domo-blue;
    color: #fff;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
}

/////////////////////////////////

////// HOME PAGE - DOMO-SOLUTION - MEDIA QUERY

////////////////////////////////

@media screen and (max-width: 768px) {
  .domo-solution-section {
    .domo-solution-container {
      height: 215vh;

      .domo-solution-info {
        h1 {
          font-size: 36px;
        }

        p {

        }
      }
      .solution-card-container {
        .solution-card {
          .ceo-image-container {
            display: flex;
            justify-content: center;

            img {

            }

            img:hover {
              margin-top: -20vh;
            }
          }
          .ceo-container {
            margin-bottom: 30vh;
            margin-top: -32vh;

            #ceo {
              font-size: 10px;

            }
          }
          .ceo-info-container {
            margin-top: -20px;

            h3 {
              font-size: 12px !important;
            }

            a {
              #ceo-link {
                font-size: 10px
              }
            }
          }
        }
      }
    }
  }

  .ceo-info {
    font-size: 12px;
    color: pink;
  }

  #card-1 {
    width: 50%;
    display: block;
  }

  #card-1:hover .ceo-info-container {
    transition: all 0.3s ease-in-out;
    margin-top: -1vh;
  }

  #card-1:hover .ceo-container {
    transition: all 0.3s ease-in-out;
    margin-top: -12vh;
    margin-bottom: 0vh;
    padding: 0;
  }

  #card-1:hover .ceo-image-container img {
    margin-top: 15vh;
    margin-bottom: 0;
  }

  #card-1:hover {
    background-color: $domo-text;
  }

  #card-2 {
    width: 50%;
    display: block;
    border-right: none;
  }

  #card-2:hover .ceo-info-container {
    transition: all 0.3s ease-in-out;
    margin-top: -1vh;
  }

  #card-2:hover .ceo-container {
    transition: all 0.3s ease-in-out;
    margin-top: -12vh;
    margin-bottom: 0vh;
    padding: 0;
  }

  #card-2:hover .ceo-image-container img {
    margin-top: 15vh;
    margin-bottom: 0;
  }

  #card-2:hover {
    background-color: $domo-text;
  }

  #card-3 {
    width: 50%;
    display: block;
  }

  #card-3:hover .ceo-info-container {
    transition: all 0.3s ease-in-out;
    margin-top: -1vh;
  }

  #card-3:hover .ceo-container {
    transition: all 0.3s ease-in-out;
    margin-top: -12vh;
    margin-bottom: 0vh;
    padding: 0;
  }

  #card-3:hover .ceo-image-container img {
    margin-top: 15vh;
    margin-bottom: 0;
  }

  #card-3:hover {
    background-color: $domo-text;
  }

  #card-4 {
    width: 50%;
    display: block;
  }

  #card-4:hover .ceo-info-container {
    transition: all 0.3s ease-in-out;
    margin-top: -1vh;
  }

  #card-4:hover .ceo-container {
    transition: all 0.3s ease-in-out;
    margin-top: -12vh;
    margin-bottom: 0vh;
    padding: 0;
  }

  #card-4:hover .ceo-image-container img {
    margin-top: 15vh;
    margin-bottom: 0;
  }

  #card-4:hover {
    background-color: $domo-text;
  }

  #card-5 {
    width: 50%;
    display: block;
    border-bottom: 1px $domo-solutions-border solid;
  }

  #card-5:hover .ceo-info-container {
    transition: all 0.3s ease-in-out;
    margin-top: -1vh;
  }

  #card-5:hover .ceo-container {
    transition: all 0.3s ease-in-out;
    margin-top: -12vh;
    margin-bottom: 0vh;
    padding: 0;
  }

  #card-5:hover .ceo-image-container img {
    margin-top: 15vh;
    margin-bottom: 0;
  }

  #card-5:hover {
    background-color: $domo-text;
  }

  #card-6 {
    width: 50%;
    display: block;
    border-bottom: 1px $domo-solutions-border solid;
    border-right: none;
  }

  #card-6:hover .ceo-info-container {
    transition: all 0.3s ease-in-out;
    margin-top: -1vh;
  }

  #card-6:hover .ceo-container {
    transition: all 0.3s ease-in-out;
    margin-top: -12vh;
    margin-bottom: 0vh;
    padding: 0;
  }

  #card-6:hover .ceo-image-container img {
    margin-top: 15vh;
    margin-bottom: 0;
  }

  #card-6:hover {
    background-color: $domo-text;
  }

  #card-7 {
    width: 50%;
    display: block;
  }

  #card-7:hover .ceo-info-container {
    transition: all 0.3s ease-in-out;
    margin-top: -1vh;
  }

  #card-7:hover .ceo-container {
    transition: all 0.3s ease-in-out;
    margin-top: -12vh;
    margin-bottom: 0vh;
    padding: 0;
  }

  #card-7:hover .ceo-image-container img {
    margin-top: 15vh;
    margin-bottom: 0;
  }

  #card-7:hover {
    background-color: $domo-text;
  }

  #card-8 {
    width: 50%;
    display: block;
  }

  #card-8:hover .ceo-info-container {
    transition: all 0.3s ease-in-out;
    margin-top: -1vh;
  }

  #card-8:hover .ceo-container {
    transition: all 0.3s ease-in-out;
    margin-top: -12vh;
    margin-bottom: 0vh;
    padding: 0;
  }

  #card-8:hover .ceo-image-container img {
    margin-top: 15vh;
    margin-bottom: 0;
  }

  #card-8:hover {
    background-color: $domo-text;
  }
}

/////////////////////////////////

////// HOME PAGE - DOMO-VIDEO

////////////////////////////////

.domo-video-section {

  .domo-video-container {
    background-image: url("../images/general_banner_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;

    .tint {
      z-index: 1;
      height: 100vh;
      width: 100%;
      top: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.4);

      .video-mastercard-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 15vh;
          margin-top: 15vh;
        }
      }
    }
    .domo-video-info-container {
      margin-top: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        margin: 2% 7%;
        font-family: $domo-font;
        font-size: 36px;
        font-style: italic;
        font-weight: 100;
        letter-spacing: 1px;
        line-height: 1.5;
        text-align: center;
        color: #fff;
      }
    }
    .domo-video-button-container {
      margin-top: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;

      .fa {
        color: #fff;
        opacity: 1;
      }

      .fa:hover {
        transition: all 0.3s ease-in-out;
        opacity: .5;
        cursor: pointer;
      }

      .glyphicon {
        color: $domo-grey;
      }
    }
  }
}

.domo-video-modal {
  margin-top: 15vh;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh;
}

/////////////////////////////////

////// HOME PAGE - DOMO-VIDEO - MEDIA QUERY

////////////////////////////////

@media screen and (max-width: 768px) {
  .domo-video-section {
    .domo-video-container {
      height: 60vh;

      .tint {
        height: 60vh;

        .video-mastercard-container {
          img  {
            display: none;
          }
        }
        .domo-video-info-container {
          h1 {
            font-size: 20px;
          }
        }
      }
    }
  }
}

/////////////////////////////////

////// HOME PAGE - DOMO-PARTNERS

////////////////////////////////

.domo-partners-section {


  .domo-partners-container {
    height: 50vh;
    width: 100%;
    background-color: #fff;


    .domo-partners {
      height: 30vh;
      width: 100%;
      display: flex;
      justify-content: space-around;;
      flex-direction: row;

      .domo-tribune-container {
        margin-top: -8vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 10;
        transform:scale(.7);
        -webkit-transform: scale(.7);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

        .domo-tribune-avatar {

          img {
            margin-top: -6vh;
            height: 15vh;
            border: 5px #fff solid;
            border-radius: 100px;

          }
        }
        .domo-tribune-info {


          h1 {
            margin-top: 0vh;
            font-family: $domo-font;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            color: $domo-text;
          }

          h3 {
            width: 20vw;
            margin-top: -1vh;
            font-family: $domo-font;
            font-size: 12px;
            font-weight: 600;
            text-align: center;
            color: $domo-text;
          }
        }
        .domo-tribune-logo {

          img {
            height: 5vh;
            margin-top: 2vh;
          }
        }
      }

      .domo-tribune-container:hover {
        margin-top: -8vh;
        cursor: pointer;
        transform: scale(1);
        -webkit-transform: scale(1);
        transition: transform .25s ease 0s;
        filter: none;
        -webkit-filter: grayscale(0%);
      }

      .domo-mastercard-container {
        z-index: 10;


        .domo-mastercard-avatar {

          img {
            margin-top: -6vh;
            height: 15vh;
            border: 5px #fff solid;
            border-radius: 100px;

          }
        }
      }
      .domo-dhl-container {
        z-index: 10;


        .domo-dhl-avatar {

          img {
            margin-top: -6vh;
            height: 15vh;
            border: 5px #fff solid;
            border-radius: 100px;

          }
        }
      }
    }
    .domo-partners-btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0;

      a {
        padding: 8px 14px;
        font-family: $domo-font;
        font-size: 12px;
        letter-spacing: 1px;
        color: $domo-text;
        text-decoration: none;
        border: 2px $domo-text solid;
      }

      a:hover {
        border: 2px $domo-blue solid;
        background-color: $domo-blue;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

/////////////////////////////////

////// HOME PAGE - INPUT

////////////////////////////////

.domo-input-section {

    .domo-input-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 85vh;
      width: 100%;
      background-color: $domo-blue;

      .domo-input-img-container {

        img {

        }
      }
      .domo-input-info-container {
        width: 50vw;

        h1 {
          margin-left: 5vh;
          margin-bottom: 4vh;
          font-family: $domo-font;
          font-size: 36px;
          font-weight: 100;
          letter-spacing: -1px;
          color: #fff;
        }

        p {
          margin-left: 5vh;
          margin-bottom: 5vh;
          font-family: $domo-font;
          font-size: 16px;
          font-weight: 700;
          letter-spacing: -1px;
          color: #fff;
        }

        input {
          width: 20vw;
          margin-left: 5vh;
          margin-bottom: 4vh;
        }

        a {

          .domo-oj-btn {
            margin-left: 5vh;
            height: 35px;
            width: 130px;
            background-color: $domo-oj;
            font-family: $domo-font;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            color: #fff;
            border: none;
        }
      }
    }
  }
}

/////////////////////////////////

////// HOME PAGE - INPUT - MEDIA QUERY

////////////////////////////////

@media screen and (max-width: 768px) {
  .domo-input-section {
    .domo-input-container {
      height: 110vh;

      .domo-input-img-container {
        img {
          display: none;
        }
      }
      .domo-input-info-container {
        width: 95vw;

        h1 {
          margin-top: 0vh;
        }

        p {

        }

        input {
          width: 80vw;
        }
      }
    }
  }
}

/////////////////////////////////

////// HOME PAGE - DOMO-FOOTER

////////////////////////////////

.domo-footer-section {

  .domo-footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    width: 100%;
    background-color: $domo-grey;

    .dev-team-container {
      height: 30vh;
      width: 40vw;

      .linkedin-header {
        p {
          // margin-top: 5vh;
          // margin-bottom: 2vh;
          margin-left: 5vw;
          font-family: $domo-font;
          font-size: 20px;
          font-weight: 600;
          text-decoration: none;
          color: $domo-footer;
        }
      }
      .linkedin-container {
        display: flex;
        justify-content: flex-start;;

        p {

          a {
            margin-left: 5vw;
            font-family: $domo-font;
            font-size: 14px;
            text-decoration: none;
            color: $domo-footer;
          }

          a:hover {
            color: $domo-blue;
          }
        }
      }
      .domo-logo {

        img {
          height: 10vh;
          margin-left: 5vw;
        }

        p {
          margin-left: 15vw;
          margin-top: -6vh;
          font-family: $domo-font;
          font-size: 14px;
          text-decoration: none;
          color: $domo-footer;
        }
      }
    }
  }
}

/////////////////////////////////

////// HOME PAGE - DOMO-FOOTER - MEDIA QUERY

////////////////////////////////

@media screen and (max-width: 768px) {
  .domo-footer-section {
    .domo-footer-container {
      height: 75vh;

      .dev-team-container {
        width: 90vw;

      }
    }
  }

  #domo-clone {
    margin-left: 25vw;
  }
}

/////////////////////////////////

////// HOME PAGE - DOMO-PROMO-SECTION - MEDIA QUERY

///// DISPLAY NONE WHEN SCREEN IS BIGGER THAN 768PX
///// DISPLAY VISIBLE WHEN SCREEN IS SMALLER THAN 768PX

////////////////////////////////

@media screen and (min-width: 768px) {
  .carousel-container {
    display: none;
  }
}

@media screen and (max-width: 768px) {

  .carousel-container {
    height: 32vh;

    .carousel {
      #appstore {
        height: 32vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;
        background-color: $domo-grey;

        .appstore-info {
          width: 40%;
          margin-left: 20vw;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          h3 {
            margin-bottom: 1vh;
            justify-content: center;
            font-family: $domo-font;
            font-size: 20px;
            font-weight: 400;
            color: white;
            text-align: center;
          }

          p {
            margin-bottom: 4vh;
            font-family: $domo-font;
            font-size: 12px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;
            color: white;
          }

          .appstore-info-border {

            a {
              padding: 8px 14px;
              font-family: $domo-font;
              font-size: 8px;
              letter-spacing: 1px;
              color: white;
              text-decoration: none;
              border: 2px white solid;
            }

            a:hover {
              border: 2px $domo-blue solid;
              background-color: $domo-blue;
              transition: all 0.3s ease-in-out;
            }
          }
        }
        .appstore-img {
          width: 0vh;
          display: flex;
          flex-wrap: wrap;

          img{
            height: 32vh;
            margin-left: 0vw;
          }
        }
      }
    }
    #mastercard {
      height: 32vh;
      width: 100%;
      background-image: url("../images/city-banner.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-color: $domo-grey;

      .tint {
        z-index: 1;
        height: 32vh;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.4);

        .mastercard-img {
          height: 10vh;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img{
            height: 7vh;
            margin-top: 3vh;
          }
        }
      }
      .mastercard-info {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        z-index: 3;
        margin-top: -20vh;

        p {
          margin-bottom: 4vh;
          font-family: $domo-font;
          font-size: 16px;
          font-weight: 300;
          line-height: 20px;
          text-align: center;
          color: white;
        }

        .mastercard-info-border {

          a {
            padding: 8px 14px;
            margin: 10vh;
            font-family: $domo-font;
            font-size: 12px;
            letter-spacing: 1px;
            color: white;
            text-decoration: none;
            border: 2px white solid;
          }

          a:hover {
            border: 2px $domo-blue solid;
            background-color: $domo-blue;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
    #mobile {
      height: 32vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      overflow: hidden;
      background-color: $domo-grey;

      .mobile-info {
        width: 40vw;
        margin-left: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        h3 {
          margin-bottom: 1vh;
          font-family: $domo-font;
          font-size: 16px;
          font-weight: 400;
          color: white;
          text-align: center;
        }

        p {
          margin-bottom: 4vh;
          font-family: $domo-font;
          font-size: 16px;
          font-weight: 300;
          line-height: 20px;
          text-align: center;
          color: white;
        }

        .mobile-info-border {

          a {
            padding: 8px 14px;
            font-family: $domo-font;
            font-size: 12px;
            letter-spacing: 1px;
            color: white;
            text-decoration: none;
            border: 2px white solid;
          }

          a:hover {
            border: 2px $domo-blue solid;
            background-color: $domo-blue;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .mobile-img {
        width: 0vh;
        display: flex;
        flex-wrap: wrap;

        img{
          margin-right: 0vh;
          height: 32vh;
          margin-left: 6vw;
          margin-top: 5vh;

        }
      }
    }
  }
}
