@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

$domo-grey: #333;
$domo-text: #555;
$domo-solutions-border: rgb(125, 125, 125);
$domo-blue: #9ce;
$domo-oj: #f92;
$domo-font: 'Open Sans', Helvetica, Arial, sans-serif;
$test-border: 1px red solid;


/////////////////////////////////

////// NAVIGATION

////////////////////////////////

.nav-section {
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
    border-bottom: 1px #f0f0f0 solid;

    .nav-menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;

      .nav-link {
        font-family: $domo-font;
        font-size: 16px;
        color: $domo-text;
        text-decoration: none;
      }
      .domo-oj-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 130px;
        margin: auto;
        margin-right: 3vw;
        background-color: $domo-oj;
        font-family: $domo-font;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #fff;
        border: none;
        text-decoration: none;
      }

      .domo-oj-btn:hover {
        background-color: $domo-blue;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
      }
    }
  }
}

#domo-logo {
  height: 10vh;
  float: left;
}





/////////////////////////////////

////// HOME PAGE - LANDING CONTAINER

////////////////////////////////

.landing-section {
  padding-top: 10vh;

  .landing-container {

    .landing {
       background-image: url("../images/bc-hero.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
       height: 90vh;
       width: auto;
       display: flex;
       justify-content: center;

       .landing-info-container {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         .landing-title {
           margin-top: -50vh;
           font-family: $domo-font;
           font-size: 44px;
           font-weight: 300;
           letter-spacing: -1px;
           text-align: center;
           color: white;
         }

         .landing-info {
           margin-top: 5vh;
           width: 65vw;
           font-family: $domo-font;
           font-size: 20px;
           font-weight: 300;
           letter-spacing: 1px;
           text-align: center;
           color: white;
         }
         .domo-oj-btn {
           margin-top: 5vh;
           height: 35px;
           width: 130px;
           background-color: $domo-oj;
           font-family: $domo-font;
           font-size: 12px;
           font-weight: 700;
           letter-spacing: 1px;
           color: #fff;
           border: none;
         }

         .domo-oj-btn:hover {
           background-color: $domo-blue;
           transition: all 0.3s ease-in-out;
         }
       }
    }
  }
}

/////////////////////////////////

////// HOME PAGE - DOMO-PROMO-CARD

////////////////////////////////


.domo-promo-section {
  padding: 0;

  .domo-promo-container {
    display: inline-flex;
    width: 100%;

    .domo-promo-card {
      width: 33.33333333%;
      box-sizing: border-box;
      background-color: $domo-grey;
    }
  }
}

#appstore {
  height: 32vh;
  width: 33.333333%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;

  .appstore-info {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h3 {
      margin-bottom: 1vh;
      justify-content: center;
      font-family: $domo-font;
      font-size: 20px;
      font-weight: 400;
      color: white;
      text-align: center;
    }

    p {
      margin-bottom: 4vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      color: white;
    }

    .appstore-info-border {

      a {
        padding: 8px 14px;
        font-family: $domo-font;
        font-size: 12px;
        letter-spacing: 1px;
        color: white;
        text-decoration: none;
        border: 2px white solid;
      }

      a:hover {
        border: 2px $domo-blue solid;
        background-color: $domo-blue;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .appstore-img {
    width: 0vh;
    display: flex;
    flex-wrap: wrap;

    img{
      height: 32vh;
      margin-left: -2vw;
    }
  }
}

#mastercard {
  height: 32vh;
  width: 33.333333%;
  background-image: url("../images/city-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .tint {
    z-index: 1;
    height: 32vh;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);

    .mastercard-img {
      height: 10vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img{
        height: 7vh;
        margin-top: 3vh;
      }
    }
  }
  .mastercard-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
    margin-top: -20vh;

    p {
      margin-bottom: 4vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      color: white;
    }

    .mastercard-info-border {

      a {
        padding: 8px 14px;
        font-family: $domo-font;
        font-size: 12px;
        letter-spacing: 1px;
        color: white;
        text-decoration: none;
        border: 2px white solid;
      }

      a:hover {
        border: 2px $domo-blue solid;
        background-color: $domo-blue;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}





#mobile {
  height: 32vh;
  width: 33.333333%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;

  .mobile-info {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h3 {
      margin-bottom: 1vh;
      justify-content: center;
      font-family: $domo-font;
      font-size: 20px;
      font-weight: 400;
      color: white;
      text-align: center;
    }

    p {
      margin-bottom: 4vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      color: white;
    }

    .mobile-info-border {

      a {
        padding: 8px 14px;
        font-family: $domo-font;
        font-size: 12px;
        letter-spacing: 1px;
        color: white;
        text-decoration: none;
        border: 2px white solid;
      }

      a:hover {
        border: 2px $domo-blue solid;
        background-color: $domo-blue;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .mobile-img {
    width: 0vh;
    display: flex;
    flex-wrap: wrap;

    img{
      height: 32vh;
      margin-left: -2vw;
      margin-top: 5vh;
    }
  }
}



//SLIDER
// .carousel-container {
//
//   .carousel {
//     display: flex;
//     justify-content: center;
//     height: auto;
//     width: 75vw;
//     max-width: 100%;
//
//     .carousel {
//       height: 20vh;
//       width: 100%;
//
//
//     }
//   }
// }
//
// #appstore {
//   height: 10vh;
//   width: 10vw;
//   background-image: url("../images/appstore-promo-media.png");
//   background-size: cover;
// }
// #mastercard {
//   height: 10vh;
//   width: 10vw;
//   background-image: url("../images/city-banner.jpg");
//   background-size: cover;
// }
// #mobile {
//   height: 10vh;
//   width: 10vw;
//   background-image: url("../images/access.png");
//   background-size: cover;
// }



/////////////////////////////////

////// HOME PAGE - DOMO-EXAMPLE

////////////////////////////////

.domo-example-section {

  .domo-example-container {
    height: 130vh;
    width: 100%;
    overflow: hidden;

    .domo-example-info {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      h1 {
        width: 55vw;
        margin-top: 15vh;
        margin-bottom: 4vh;
        justify-content: center;
        font-family: $domo-font;
        font-size: 44px;
        font-weight: 400;
        line-height: 1.1;
        color: $domo-text;
        text-align: center;
      }

      p {
        width: 55vw;
        margin-bottom: 5vh;
        font-family: $domo-font;
        font-size: 20px;
        font-weight: 100;
        line-height: 1.1;
        text-align: center;
        color: $domo-text;
      }

      .mobile-info-border {

        a {
          padding: 8px 14px;
          font-family: $domo-font;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          color: $domo-text;
          text-decoration: none;
          border: 2px $domo-text solid;
        }

        a:hover {
          border: 2px $domo-blue solid;
          background-color: $domo-blue;
          transition: all 0.3s ease-in-out;
          color: #fff;
        }
      }
    }

    .domo-example-img {
      display: flex;
      justify-content: center;

      img {

      }
    }
  }
}

/////////////////////////////////

////// HOME PAGE - DOMO-SOLUTION

////////////////////////////////

.domo-solution-section {

  .domo-solution-container {
    height: 130vh;
    width: 100%;
    background-color: $domo-grey;

    .domo-solution-info {
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        margin-top: 10vh;
        font-family: $domo-font;
        font-size: 44px;
        font-weight: 300;
        text-align: center;
        color: #fff;
      }

      p {
        width: 75%;
        margin-top: 5vh;
        font-family: $domo-font;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
        align-self: center;
        color: #fff;
      }
    }
  }
  .solution-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;



    .solution-card {
      height: 30vh;
      width: 25%;
      box-sizing: border-box;
      background-color: $domo-grey;
    }

  }
}

#card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px $domo-solutions-border solid;
  border-bottom: 1px $domo-solutions-border solid;
  overflow: hidden;

  .ceo-image-container {
    margin-top: 35vh;

    img {
      margin-bottom: 3vh;
    }

    h3 {
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }
  }

  .ceo-info-container {

    h3 {
      margin-top: 30vh;
      font-family: $domo-font;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      color: #fff;
    }

  }
}

#card-1:hover .ceo-info {
  transition: all 0.3s ease-in-out;
  background-color: $domo-text;
  margin-bottom: 70vh;
}

// #card-1:hover .ceo {
//   transition: all 0.3s ease-in-out;
//   background-color: $domo-text;
//   margin-top: 70vh;
// }

#card-1:hover {
  transition: all 0.3s ease-in-out;
  background-color: $domo-text;
}

#card-2 {
  border-right: 1px $domo-solutions-border solid;
  border-bottom: 1px $domo-solutions-border solid;
}

#card-3 {
  border-right: 1px $domo-solutions-border solid;
  border-bottom: 1px $domo-solutions-border solid;
}

#card-4 {
  border-bottom: 1px $domo-solutions-border solid;
}

#card-5 {
  border-right: 1px $domo-solutions-border solid;
}

#card-6 {
  border-right: 1px $domo-solutions-border solid;
}

#card-7 {
  border-right: 1px $domo-solutions-border solid;
}

#card-8 {

}
